In [ ]:
#dictionary
#indexed
#ordered
#duplicate
#mutable

In [1]:
# d={<key>:<value>,<key>,<value>,.....}
d={"a":"apple","b":"ball","c":"cat"}
print(type(d))
print(d)

<class 'dict'>
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [9]:
d={"a":"apple","b":"ball","c":"cat"}

print(d['a'])

apple

In [6]:
d={}
for i in range(3):
    d[i]= input("ENTER A VALUE = ")
    
print(d)

ENTER A VALUE = dd
ENTER A VALUE = ssadf
ENTER A VALUE = sdfrwa
{0: 'dd', 1: 'ssadf', 2: 'sdfrwa'}

In [5]:
d={}
n= int(input("Enter the number of values= "))
for i in range(n):
    name= input("ENTER NAME= ")
    p= int(input("Enter number= "))
    d[name]=p
 
    
print(d)

Enter the number of values= 3
ENTER NAME= eric
Enter number= 932914941
ENTER NAME= iman
Enter number= 93932949543
ENTER NAME= sushant
Enter number= 221832824
{'eric': 932914941, 'iman': 93932949543, 'sushant': 221832824}

In [10]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
for i in o:
    print(i)

ram
shyam
Hari

In [12]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
for i in o.values():
    print(i)

9872721732
980332233
9862721173

In [13]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
for i in o.items():
    print(i)

('ram', '9872721732')
('shyam', '980332233')
('Hari', '9862721173')

In [5]:
d=[]
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
for i in o.items():
    d.append(i)
print(d)

[('ram', '9872721732'), ('shyam', '980332233'), ('Hari', '9862721173')]

In [6]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
o["ram"]=98821736435
o

{'ram': 98821736435, 'shyam': '980332233', 'Hari': '9862721173'}

In [8]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
del o["ram"]
print(o)

{'shyam': '980332233', 'Hari': '9862721173'}

In [13]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
x=o.pop("ram")
print(x)
print(o)

9872721732
{'shyam': '980332233', 'Hari': '9862721173'}

In [14]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
o.clear()
o

{}

In [16]:
o={"ram":"9872721732","shyam":"980332233","Hari":"9862721173"}
d={"ram":"apple","b":"ball","c":"cat"}
d.update(o)
print(d)

{'ram': '9872721732', 'b': 'ball', 'c': 'cat', 'shyam': '980332233', 'Hari': '9862721173'}

In [22]:
o={"ram":["9872721732","98607834523"],"shyam":["980332233","9877216321712"],"Hari":"9862721173"}
for i in o.items():
    print(i)

('ram', ['9872721732', '98607834523'])
('shyam', ['980332233', '9877216321712'])
('Hari', '9862721173')

In [31]:
d={}
n= int(input("Enter the value of n = "))
for i in range(n):
    name=input("ENTER YOUR NAME= ")
    pho=input("ENTER YOUR PHONE= ")
    PHO=input("Enter second phone=")
   
    d[name]=[PHO,pho]
print(d)

Enter the value of n = 2
ENTER YOUR NAME= eric
ENTER YOUR PHONE= 92821813
Enter second phone=92182183
ENTER YOUR NAME= iman
ENTER YOUR PHONE= 99123913
Enter second phone=831813931
{'eric': ['92182183', '92821813'], 'iman': ['831813931', '99123913']}

In [32]:
o={"ram":["9872721732","98607834523"],"shyam":["980332233","9877216321712"],"Hari":"9862721173"}
o["ram"].append(927217741)
o

{'ram': ['9872721732', '98607834523', 927217741],
 'shyam': ['980332233', '9877216321712'],
 'Hari': '9862721173'}

In [34]:
o={"ram":["9872721732","98607834523"],"shyam":["980332233","9877216321712"],"Hari":"9862721173"}
o["ram"][1]

'98607834523'

In [39]:
a=[{"ki":"k re?","kk":"kei na kei"},{"ho":"hoina","lala":"nai paideina"}]
a[1]["lala"]

'nai paideina'

In [41]:
s=[]
c={}
o=int(input("ENTER A NUMBER= "))
for i in range(o):
    name=input("ENTER YOUR NAME= ")
    roll=int(input("Enter your roll number= "))
    c["name"]=roll
    s.append(c)
print(s)

ENTER A NUMBER= 2
ENTER YOUR NAME= eric
Enter your roll number= 11
ENTER YOUR NAME= iman
Enter your roll number= 12
[{'name': 12}, {'name': 12}]

In [43]:
d=[]
n=int(input("Enter the value= "))
for i in range(n):
    a=input("Enter your name= ")
    ntc_phone= int(input("Enter ntc number= "))
    ncell_phone= int(input("Enter ncell number= "))
    info= {'name':a, 'ntc_number':ntc_phone, 'ncell_ number':ncell_phone}
    d.append(info)
print(d)

Enter the value= 2
Enter your name= iman
Enter ntc number= 7373623
Enter ncell number= 73732732
Enter your name= eric
Enter ntc number= 9328328732
Enter ncell number= 823823823
[{'name': 'iman', 'ntc_number': 7373623, 'ncell_ number': 73732732}, {'name': 'eric', 'ntc_number': 9328328732, 'ncell_ number': 823823823}]

In [6]:
a={"ram":{"ntc":98327127417143, "ncell":9812731723}, "hari":{"ntc":986261632, "ncell":92182173223}}
for i in a.items():
    print(i)

('ram', {'ntc': 98327127417143, 'ncell': 9812731723})
('hari', {'ntc': 986261632, 'ncell': 92182173223})

In [9]:
d={}
n=int(input("Enter the value of n= "))
for i in range(n):
    s=input("Enter your name= ")
    ntc=int(input("Enter telecom number= "))
    ncell=int(input("Enter ncell number = "))
    d[s]={ "telecom number":ntc, "Ncell number":ncell}
    
print(d)

Enter the value of n= 3
Enter your name= eric
Enter telecom number= 9823554578
Enter ncell number = 98282181
Enter your name= iman
Enter telecom number= 91281279732714
Enter ncell number = 8932897123321
Enter your name= sushant
Enter telecom number= 8812813
Enter ncell number = 9187234123
{'eric': {'telecom number': 9823554578, 'Ncell number': 98282181}, 'iman': {'telecom number': 91281279732714, 'Ncell number': 8932897123321}, 'sushant': {'telecom number': 8812813, 'Ncell number': 9187234123}}