In [ ]:
# python collection
# list
# tuple
# dictionary
# set

In [ ]:
list
-indexing
-ordered
-multiple data
-mutable

In [1]:
a="A B C D E F G H I J K L M N O P Q R S T U V W X Y Z".upper()
s=input("Enter the value you want to search= ").upper()
if s in a:
    print("yess")
    x=a.count(s)
    print(x)
else:
    print("No")

Enter the value you want to search= y
yess
1

In [7]:
a=["ONE","TWO","THREE","FOUR","FIVE"]
print(a[0:3])

['ONE', 'TWO', 'THREE']

In [9]:
a="bastola"
print(a[1:5])

asto

In [10]:
a=["one", "two","three",55, 66]
b=["ONE","TWO","THREE","FOUR","FIVE"]
c=a+b
print(c)

['one', 'two', 'three', 55, 66, 'ONE', 'TWO', 'THREE', 'FOUR', 'FIVE']

In [16]:
a=["eric","ram","shyam","sita"]
b=int(input("Enter the position of data you want to change= "))
c=input("Enter the word you want to put in= ")
a[b]=c
print(a)

Enter the position of data you want to change= 3
Enter the word you want to put in= erik
['eric', 'ram', 'shyam', 'erik']

In [12]:
#functions in list
# append(), insert(), extend()

In [17]:
a=[]
a.append("ERIC")
a.append("SYAM")
print(a)

['ERIC', 'SYAM']

In [18]:
a=["eric","ram","shyam","sita"]
a.insert(1,"sam")
a.append("SYAM")
print(a)

['eric', 'sam', 'ram', 'shyam', 'sita', 'SYAM']

In [21]:
a=["eric","ram","shyam","sita"]
c=["ONE","TWO","THREE","FOUR","FIVE"]
b=["A B C D E F G H ", "I J K L M N O P", "Q R S T U V W X Y Z"]
c.extend(b)
a.extend(c)

print(a)

['eric', 'ram', 'shyam', 'sita', 'ONE', 'TWO', 'THREE', 'FOUR', 'FIVE', 'A B C D E F G H ', 'I J K L M N O P', 'Q R S T U V W X Y Z']

In [23]:
data=[]
n=int(input("Enter the value = "))
for i in range(n):
    b=input("Enter the values= ")
    data.append(b)
print(data)

Enter the value = 3
Enter the values= eric
Enter the values= bastola
Enter the values= 11
['eric', 'bastola', '11']

In [1]:
data=["a","b","c","d","e","f"]
n=int(input("Enter the value = "))
c=1
for i in range(n):
    b=input("Enter the values= ")
    data.insert(c,b)
    c=c+2
print(data)

Enter the value = 3
Enter the values= eric
Enter the values= bastola
Enter the values= 11
['a', 'eric', 'b', 'bastola', 'c', '11', 'd', 'e', 'f']

In [8]:
a=["RAM","SAM","HARI","GITA"]
if "RAM" in a:
    print("yess")
    x=a.count("RAM")
    print(x)

yess
1

In [1]:
#del remove() pop()
a=["RAM","SAM","HARI","GITA"]
del a[1]
print(a)

['RAM', 'HARI', 'GITA']

In [11]:
a=["RAM","SAM","HARI","GITA"]
a.remove("SAM")
print(a)

['RAM', 'HARI', 'GITA']

In [12]:
a=["RAM","SAM","HARI","GITA"]
x=a.pop(3)
print(x)

GITA

In [2]:
b=[]
c= ["RAM","SAM","HARI","GITA","RAM"]
for i in c:
    if i!="RAM":
        b.append(i)
print(b)

['SAM', 'HARI', 'GITA']

In [4]:
b=["RAM","SAM","HARI","GITA"]
b.index("HARI")

2

In [6]:
c= ["RAM","SAM","HARI","GITA","RAM"]
for i in range(len(c)):
    if c[i]=="RAM":
        print(i)

0
4

In [9]:
c="A B C D E F G H I J"
c.split( )

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [11]:
c="a]b]x]c]d]f]r]e"
c.split("]")

['a', 'b', 'x', 'c', 'd', 'f', 'r', 'e']

In [29]:
a=input("ENTER A WORD= ")
b=len(a)-1
s=""
for i in range(b,-1,-1):
    s=s+a[i]
if s==a:
    print("palindrome")
else:
    print("not")

ENTER A WORD= eric
not

In [6]:
data=[]
n=int(input("Enter the value of n= "))
for i in range(n):
    name= input("Enter name=")
    address=input("Enter addresss=")
    age=int(input("Enter the age = "))
    info= [name,address,age]
    data.append(info)
    
print(data)
print("First is", data[0])

Enter the value of n= 3
Enter name=eric
Enter addresss=biratnagar
Enter the age = 13
Enter name=iman
Enter addresss=imanagar
Enter the age = 12
Enter name=shyam
Enter addresss=harinagar
Enter the age = 15
[['eric', 'biratnagar', 13], ['iman', 'imanagar', 12], ['shyam', 'harinagar', 15]]
First is ['eric', 'biratnagar', 13]

In [10]:
a="ERICBASTOLA"
b=a[::-1]
print(b)

ALOTSABCIRE

In [13]:
a=[['eric', 'biratnagar', 13], ['iman', 'imanagar', 12], ['shyam', 'harinagar', 15]]
p=a[2][1]
print(p)

harinagar

In [15]:
a="ERIC BASTOLA RAM SHYAM HARI GITA SITA IMAN".upper()
b=input("Enter the value you want to search= ").upper()
if b in a:
    print("Yess")
    x=a.count(b)
    print(x)
else:
    print("No")

Enter the value you want to searchA
Yess
8

In [2]:
a="ERIC BASTOLA RAM SHYAM HARI GITA SITA IMAN".upper()
b=input("Enter the value you want to replace= ").upper()
c=input("Enter the value you want to put in= ").upper()
a.replace(b,c)

Enter the value you want to replace= eric
Enter the value you want to put in= sam

'SAM BASTOLA RAM SHYAM HARI GITA SITA IMAN'

In [4]:
a="ERIC BASTOLA RAM SHYAM HARI GITA SITA IMAN".upper()
b=input("Enter the value you want to replace= ").upper()
a.replace(b+" ","")

Enter the value you want to replace= eric

'BASTOLA RAM SHYAM HARI GITA SITA IMAN'

In [8]:
c= [["RAM","SAM","HARI","GITA","RAM"]]
b=[['a','b','c']]
c.extend(b)
print(c)

[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['a', 'b', 'c']]

In [9]:
len(c)

2

In [10]:
a=[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['a', 'b', 'c']]
f=a[0][0]
print(f)

RAM

In [13]:
a=[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['a', 'b', 'c']]
b=input("Enter the name of data you are looking for = ")
for i in a:
    if b in i:
        print(i)

Enter the name of data you are looking for = HARI
['RAM', 'SAM', 'HARI', 'GITA', 'RAM']

In [15]:
a=[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['a', 'b', 'c']]
a.index("RAM")

0

In [17]:
a=[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['a', 'b', 'c']]
a[1][0]="ERIC"
a[1][1]="IMAN"
a[1][2]="RAVIN"
print(a)

[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['ERIC', 'IMAN', 'RAVIN']]

In [ ]:
#wap to delete duplicate rows haivng same name
# wap to create a list inside list with given rows and columns

In [1]:
c= ["RAM","SAM","HARI","GITA","RAM"]
if "RAM" in c:
    print("yess")
else:
    print("no")

yess

In [12]:
a=[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['a', 'b', 'c']]
a[1][2]="SITA"
print(a)

[['RAM', 'SAM', 'HARI', 'GITA', 'RAM'], ['a', 'b', 'SITA']]

In [2]:
a=["RAM","SAM","HARI","GITA"]
a.clear()
print(a)

[]

In [5]:
a="eric"
x=list(a)
print(x)

['e', 'r', 'i', 'c']