In [1]:
#LOOPS
# type of loops
# 1) for loop
# 2) while loops

In [7]:
# for loops


for i in range(5,1,-3):
    print(i)

5
2

In [4]:
print(1,"goal")
for i in range(1,10):
   
    print(i+1, "goals")

1 goal
2 goals
3 goals
4 goals
5 goals
6 goals
7 goals
8 goals
9 goals
10 goals

In [7]:
a= int(input("Enter a number to gets its multiple table = "))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

Enter a number to gets its multiple table = 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [6]:
s=0
n=int(input("Enter the value of n= "))
for i in range(n):
    x= int(input("Enter value of x= "))
    s=s+x
    print(s)

Enter the value of n= 4
Enter value of x= 1
1
Enter value of x= 2
3
Enter value of x= 3
6
Enter value of x= 4
10

In [1]:
a=int(input("Enter number = "))
for i in range(1,11):
    print(a, "*", i, "=", i*a)

Enter number = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [6]:
a= str()
b= int(input("Enter a number= "))
for i in range(b):
    x= input("Enter a name= ")
    p= input("Enter phone number= ")
    
    a= a+" " +x+" "+p + "\n"
    print(a)

Enter a number= 3
Enter a name= iman
Enter phone number= 981223445
 iman 981223445

Enter a name= Eric
Enter phone number= 07997131231
 iman 981223445
 Eric  07997131231

Enter a name= hiadi
Enter phone number= 222432
 iman 981223445
 Eric  07997131231
 hiadi 222432

In [1]:
x=1
a=int(input("Enter the value of n= "))
for i in range(1,a+1):
    x=x*i
print(x)

Enter the value of n= 12
479001600

In [8]:
a="Eric"

for i in a:
   
    print(i, end="|")

E|r|i|c|

In [26]:
a=" OOII K XA TALAI!!"
for i in a:
    if i!= "O" and i!="T":
        print(i,end="")

 II K XA ALAI!!

In [4]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [6]:
for i in range(5,0,-1):
    print(i*"()")

()()()()()
()()()()
()()()
()()
()

In [6]:
i= 5
print(i*"eric")

ericericericericeric

In [12]:
a= "BASTOLA"
a[1]

'A'

In [3]:
a="Bastola"
b= len(a)-1
for i in range(b,-1,-1):
    print(a[i], end=" ")

a l o t s a B

In [7]:
a="IMAN"
for i in range(len(a)):
    print(a[i],a[i-1],a[i-2],a[i-3])

I N A M
M I N A
A M I N
N A M I

In [5]:
a="BASTOLA"
for i in range(len(a),-1,-1):
    print(a[0:i])

BASTOLA
BASTOL
BASTO
BAST
BAS
BA
B

In [11]:


a="aas"
for i in a:
    print(i)

a
a
s

In [12]:
# control statement

for i in range(1,55):
    if i==7:
        break
    print(i)

1
2
3
4
5
6

In [15]:
a="MY NAME IS ERIC"
for i in a:
    if i!=" ":
        print(i,end="|")

M|Y|N|A|M|E|I|S|E|R|I|C|

NameError: name 'a' is not defined

In [6]:
N="Hello everyone"
for i in N:
    if i=="o":
        break
    else:
        print(i, end=" ")

H e l l

In [4]:
a= "ERIC BASTOLA"

for i in a:
     if i!=" ":
        print(i)

E
R
I
C
B
A
S
T
O
L
A

In [1]:
for i in range(1,21):
    if i%2 !=0:
        continue
    else:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [23]:
n= int(input("Enter a number= "))
if n>=2:
    for i in range(2,n):
        if n%i==0:
            print("it is composite")
            break
    else:
        print("it is prime")
else:
    print("INVALID INPUT")

Enter a number= 2750
it is composite

In [2]:
a= input("Enter a word= ")
b= len(a)-1
c=str()
for i in range(b,-1,-1):
    c= c+a[i]
if c==a:
    print("It is palindrome")
else:
    print("It is not palindrome")

Enter a word= saadad
It is not palindrome

In [1]:
a=5
while a>=0:
    print(a)
    a=a-1

5
4
3
2
1
0

In [2]:
a=1
b=int(input("Enter a number= "))
while a<=10:
    print(b, "*", a,"=",b*a)
    a=a+1

Enter a number= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
a=0
c=int(input("Enter a number= "))
x=""
while a<=c:
    v=input("Enter a name= ")
    x=x+" "+v +"\n"
    print(x)
    a=a+1

Enter a number= 3
Enter a name= dfsdf
 dfsdf

Enter a name= dfwwef
 dfsdf
 dfwwef

Enter a name= ewffew
 dfsdf
 dfwwef
 ewffew

Enter a name= dqq
 dfsdf
 dfwwef
 ewffew
 dqq

In [ ]:
i=0
s=str()
n=int(input("Enter the value of n= "))
while i<=n:
    x= input("Enter a word= ")
    s= s+" "+ x+ "\n"
    print(s)
    i= i+1

In [2]:
i=0
x=""
b=int(input("Enter a number= "))
while i<=b:
    c=input("Enter a value= ")
    x= x+" "+ c + "\n"
    
    print(x)
    i=i+1

Enter a number= 3
Enter a value= sd
 sd

Enter a value= sss
 sd
 sss

Enter a value= sss
 sd
 sss
 sss

Enter a value= aA
 sd
 sss
 sss
 aA

In [3]:
a="ERIC"
for i in a:
    print(i)

E
R
I
C

In [2]:
d="Bastola"
x=0
c=len(d)
while x<c:
    print(d[x], end=" ")
    x=x+1

B a s t o l a

In [7]:
a="HELLOOOOO"
c=0
d=len(a)-1

while d>=c:
    print(a[d], end="|")
    d=d-1

O|O|O|O|O|L|L|E|H|

In [1]:
a="Bastola"
v=len(a)-1
for i in range(v,-1,-1):
    print(a[i], end=".")

a.l.o.t.s.a.B.

In [ ]:
a=int(input("Enter a number= "))
i=2
if a>=2:
    while i<=a:
        if a%i==0:
            print("It is composite")
            
            break
            
        
    else:
        print("it is prime")
        i=i+1
        
            
else:
    print("Invalid input")

Enter a number= 9

In [5]:
a="Hello wolrd"
l=len(a)
i=0
while i<l:
    if a[i]==" ":
        
        break
    
    print(a[i], end="")
    i=i+1

Hello

In [8]:
a=int(input("Enter the quantity of items="))

b=""
GP=0
X="NAME"+" "+"PRICE"+" "+"QUANTITY"+" "+"TOTAL"
for i in range(0,a):
    x=input("Enter name of the item= ")
    y=int(input("Enter the price of the item= "))
    z=int(input("Enter the quantity you want= "))
    a=y*z
    b=b+ x+" "+ str(y) +" "+ str(z)+" " + str(a) +"\n"
    GP=GP+a
print(X)
print(b)
print("Your total expencise is",GP)

Enter the quantity of items=2
Enter name of the item= momo
Enter the price of the item= 200
Enter the quantity you want= 2
Enter name of the item= chaumin
Enter the price of the item= 150
Enter the quantity you want= 3
NAME PRICE QUANTITY TOTAL
momo 200 2 400
chaumin 150 3 450

Your total expencise is 850

In [4]:
a=input("Enter a word= ")
b=len(a)-1
c=""
for i in range(b,-1,-1):
    x=a[i]
    c=c+x
if a==c:
    print("palindrome")
else:
    print("not")

Enter a word= aass
not

In [3]:
a="Babebe"
b=len(a)-1
v=0
while v<=b:
    print(a[b], end=" ")
    b=b-1

e b e b a B

In [1]:
a=5
while a>=0:
    print("()"*a)
    a=a-1

()()()()()
()()()()
()()()
()()
()

In [10]:
a="Bastola"
for i in range(len(a)+1):
    print(a[0:i])

B
Ba
Bas
Bast
Basto
Bastol
Bastola

In [8]:
a="EricBastola"
print(a[0:10:3])

Ecsl

In [2]:
b="ERIC"
print(b[::-1])

CIRE

In [5]:
b="uareme"
print(b[-2])

m

In [8]:
a="Bastola"
c=a[1:5]
print(c)

asto

In [11]:
a="Hello world"
b=a[:5]
c=a[6:]
print(b)
print(c)

Hello
world

In [13]:
#string formatting
name="ERIC"
A= 16
g=f"Hello My name is {name}. I am {A} years old."

print(g)

Hello My name is ERIC. I am 16 years old

In [8]:
a=int(input("enter a number= "))
if a>=2:
    for i in range(2,a):
        if a%i==0:
            print("composite")
            break
    else:
        print("prime")
else:
    print("invalid")

enter a number= 997
prime