In [4]:
a="OII "
B=a*3
print(B + "K gareko taile??")

OII OII OII K gareko taile??

In [5]:
a=10
print(type(a))

<class 'int'>

In [9]:
a=int(input("enter a value="))
print(type(a))

enter a value=12121
<class 'int'>

In [12]:
a=int(input("Enter the quantity of items="))

b=""
GP=0
X="NAME"+" "+"PRICE"+" "+"QUANTITY"+" "+"TOTAL"
for i in range(0,a):
    x=input("Enter name of the item= ")
    y=int(input("Enter the price of the item= "))
    z=int(input("Enter the quantity you want= "))
    a=y*z
    b= b+ f"{x} {y} {z} {a}\n"
    GP=GP+a
print(X)
print(b)
print("Your total expencise is",GP)

Enter the quantity of items=3
Enter name of the item= momo
Enter the price of the item= 200
Enter the quantity you want= 3
Enter name of the item= ice cream
Enter the price of the item= 30
Enter the quantity you want= 3
Enter name of the item= chaumin
Enter the price of the item= 150
Enter the quantity you want= 4
NAME PRICE QUANTITY TOTAL
momo 200 3 600
ice cream 30 3 90
chaumin 150 4 600

Your total expencise is 1290

In [14]:
a="Eric ram shyam rita gita mina hina"
if "Eric" in a:
    print("Yes")
else:
    print("NO")

Yes

In [47]:
a="RAM SHYAM BINDA RITA RAMESH SURESH GOPAL IMaN BHARAT ROHIT SUSHANT".upper()
S=input("enter a name= ").upper()
if S in a:
    print("yes")
    X=a.count(S)
    print(X)
else:
    print("no")

enter a name= eric
no

In [50]:
a="RAM SHYAM BINDA RITA RAMESH SURESH GOPAL IMaN BHARAT ROHIT SUSHANT".upper()
s=input("Enter the name you want to replace= ").upper()
b=input("Enter the name you want to put in= ").upper()
a.replace(s,b)

Enter the name you want to replace= suresh
Enter the name you want to put in= eric

'RAM SHYAM BINDA RITA RAMESH ERIC GOPAL IMAN BHARAT ROHIT SUSHANT'

In [1]:
a="RAM SHYAM BINDA RITA RAMESH SURESH GOPAL IMaN BHARAT ROHIT SUSHANT".upper()
s=input("Enter the name you want to delete= ").upper()
a.replace(s+" ",'')

Enter the name you want to delete= Ram

'SHYAM BINDA RITA RAMESH SURESH GOPAL IMAN BHARAT ROHIT SUSHANT'

In [4]:
a="BASTOLA"
b=len(a)
for i in range(b,-1,-1):
    print(a[0:i])

BASTOLA
BASTOL
BASTO
BAST
BAS
BA
B

In [6]:
a="BASTOLA"
b=len(a)
for i in range(b):
    print(a[0:i+1])

B
BA
BAS
BAST
BASTO
BASTOL
BASTOLA

In [7]:
a="hunnahunnahununhunna"
b=a[::-1]
print(b)

annuhnunuhannuhannuh