In [ ]:
#TUPLE
#Indexed
#Orderes
#Multiple data
#Imutable

In [14]:
a=["RAM","SAM","HARI","GITA"])
b=(" "," "," "," ")
c=a+b
print(type(a))
print(type(b))
print(c)
print(a)

<class 'tuple'>
<class 'tuple'>
('Apple', 'Ball', 'Cat', 'Dog', ' ', ' ', ' ', ' ')
('Apple', 'Ball', 'Cat', 'Dog')

In [4]:
a=(1,2,4,3,33,4,5,5,66,645)
print(max(a))
print(min(a))
print(sum(a))

645
1
768

In [5]:
a=[1,2,4,3,33,4,5,5,66,645]
a.sort()
print(a)

[1, 2, 3, 4, 4, 5, 5, 33, 66, 645]

In [8]:
a=["Apple","Ball","Cat","Dog"]
print(max(a))
print(min(a))
a.sort()
print(a)

Dog
Apple
['Apple', 'Ball', 'Cat', 'Dog']

In [9]:
a="a,b,c,d,e"
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [17]:
a=[]
b=int(input("Enter the number of value you want to enter = "))

for i in range(b):
    x=input("Enter the value you want to put= ")
    a=a+[x,]
a.sort()
a

Enter the number of value you want to enter = 5
Enter the value you want to put= iman
Enter the value you want to put= eric
Enter the value you want to put= sushant
Enter the value you want to put= bharat
Enter the value you want to put= rohit

['bharat', 'eric', 'iman', 'rohit', 'sushant']

In [18]:
a=(1,2,4,3,33,4,5,5,66,645)
b=list(a)
del b[5]
c=tuple(b)
print(c)

(1, 2, 4, 3, 33, 5, 5, 66, 645)

In [19]:
a="ERICBASTOLA"
print(tuple(a))
print(list(a))

('E', 'R', 'I', 'C', 'B', 'A', 'S', 'T', 'O', 'L', 'A')
['E', 'R', 'I', 'C', 'B', 'A', 'S', 'T', 'O', 'L', 'A']

In [8]:
a="BASTOLA"
for i in a:
    if i!="A" and i!="B":
        print(i,end=" " )

S T O L

In [12]:
t=()
n=int(input("enter the value of n="))
for i in range(n):
    a=input("Enter name= ")
    b=input("Enter addresss =")
    c=int(input("Enter your age= "))
    I=((a,b,c),)
    t=t+I
print(t)

enter the value of n=4
Enter name= gkasfdlasfaf
Enter addresss =shdflgsflf
Enter your age= 4
Enter name= hsladifflqdf
Enter addresss =hlsadbqsf
Enter your age= 3
Enter name= hsldfl
Enter addresss =hdshds
Enter your age= 2
Enter name= hsfqww
Enter addresss =ddddgfuidf
Enter your age= 3
(('gkasfdlasfaf', 'shdflgsflf', 4), ('hsladifflqdf', 'hlsadbqsf', 3), ('hsldfl', 'hdshds', 2), ('hsfqww', 'ddddgfuidf', 3))

a=(("gkasfdlasfaf', 'shdflgsflf', 4), ('hsladifflqdf', 'hlsadbqsf', 3), ('hsldfl', 'hdshds', 2), ('hsfqww', 'ddddgfuidf', 3))
print(a)

In [18]:
a=(('gkasfdlasfaf', 'shdflgsflf', 4), ('hsladifflqdf', 'hlsadbqsf', 3), ('hsldfl', 'hdshds', 2), ('hsfqww', 'ddddgfuidf', 3))
b=a[0]
c=list(b)
x=a[1]
d=list(x)
z=a[2]
e=list(z)
f=a[3]
g=list(f)
info=[c,d,e,g]
print(info)

[['gkasfdlasfaf', 'shdflgsflf', 4], ['hsladifflqdf', 'hlsadbqsf', 3], ['hsldfl', 'hdshds', 2], ['hsfqww', 'ddddgfuidf', 3]]

In [20]:
a=(('gkasfdlasfaf', 'shdflgsflf', 4), ('hsladifflqdf', 'hlsadbqsf', 3), ('hsldfl', 'hdshds', 2), ('hsfqww', 'ddddgfuidf', 3))
x=[]
for i in a:
    b=list(i)
    x.append(b)
print(x)

[['gkasfdlasfaf', 'shdflgsflf', 4], ['hsladifflqdf', 'hlsadbqsf', 3], ['hsldfl', 'hdshds', 2], ['hsfqww', 'ddddgfuidf', 3]]

In [31]:
x=[['gkasfdlasfaf', 'shdflgsflf', 4], ['hsladifflqdf', 'hlsadbqsf', 3], ['hsldfl', 'hdshds', 2], ['hsfqww', 'ddddgfuidf', 3]]
for i in x:
    i.append("RAM")
    print(x)
    break

[['gkasfdlasfaf', 'shdflgsflf', 4, 'RAM'], ['hsladifflqdf', 'hlsadbqsf', 3], ['hsldfl', 'hdshds', 2], ['hsfqww', 'ddddgfuidf', 3]]

AttributeError: 'tuple' object has no attribute 'clear'

In [2]:
a=(1,2,3,45,65)
a[3]

45

In [3]:
d=("eric","bastola")
name,surname=d
print("Name is", name)
print("surname is", surname)

Name is eric
surname is bastola

In [4]:
a="yehrhr"
a.split("")

ValueError: empty separator