In [2]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\user\anaconda3\lib\site-packages (2.2.9)

In [5]:
import mysql.connector
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE pythonsss")

DatabaseError: 1007 (HY000): Can't create database 'pythonsss'; database exists

In [6]:
import mysql.connector
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database="first"
)
db = database.cursor()

In [7]:
db.execute("SELECT * FROM marks")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Eric Bastola', 95, 94, 94, 91, 93, 88, 78, 500)
(2, 'Iman Pandit', 57, 98, 99, 91, 90, 98, 88, 505)
(3, 'JOHN', 98, 89, 90, 92, 91, 88, 89, 550)
(4, 'SAMARPAN', 100, 100, 99, 99, 98, 98, 88, 600)
(5, 'BHARAT', 88, 89, 87, 99, 98, 95, 90, 498)
(7, 'RIGHBED', 98, 89, 88, 71, 78, 88, 98, 450)
(8, 'NISHAN', 98, 89, 88, 91, 88, 98, 98, 480)
(9, 'NABIN', 88, 89, 96, 99, 98, 89, 88, 554)
(10, 'ANJIT', 98, 89, 88, 71, 93, 78, 88, 600)

In [8]:
db.execute("SELECT SN,NAME,PHYSICS,CHEMISTRY,MATHS FROM marks")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Eric Bastola', 95, 94, 91)
(2, 'Iman Pandit', 57, 98, 91)
(3, 'JOHN', 98, 89, 92)
(4, 'SAMARPAN', 100, 100, 99)
(5, 'BHARAT', 88, 89, 99)
(7, 'RIGHBED', 98, 89, 71)
(8, 'NISHAN', 98, 89, 91)
(9, 'NABIN', 88, 89, 99)
(10, 'ANJIT', 98, 89, 71)

In [9]:
db.execute("SELECT * FROM marks WHERE TOTAL>=500")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Eric Bastola', 95, 94, 94, 91, 93, 88, 78, 500)
(2, 'Iman Pandit', 57, 98, 99, 91, 90, 98, 88, 505)
(3, 'JOHN', 98, 89, 90, 92, 91, 88, 89, 550)
(4, 'SAMARPAN', 100, 100, 99, 99, 98, 98, 88, 600)
(9, 'NABIN', 88, 89, 96, 99, 98, 89, 88, 554)
(10, 'ANJIT', 98, 89, 88, 71, 93, 78, 88, 600)

In [13]:
sql='''INSERT INTO marks (SN, NAME, PHYSICS, CHEMISTRY, BIOLOGY, MATHS, EXTRA_MATHS, ENGLISH, NEPALI, TOTAL) VALUES (12, 'ROHIT', 79, 88, 91, 98, 89, 88, 89, 554)'''
db.execute(sql)
database.commit()

In [12]:
sql='''INSERT INTO marks (SN, NAME, PHYSICS, CHEMISTRY, BIOLOGY, MATHS, EXTRA_MATHS, ENGLISH, NEPALI, TOTAL) 
VALUES (11, 'KZITIZ', 98, 89, 87, 71, 93, 78, 88, 600)'''
db.execute(sql)
database.commit()

In [40]:
sql="DELETE FROM marks WHERE SN=6"
db.execute(sql)
database.commit()

In [41]:
sql= "UPDATE marks SET NAME = 'JOHN' WHERE NAME='SUSHANT'"
db.execute(sql)
database.commit()

In [20]:
sql="UPDATE marks SET SN = '11' WHERE SN='12'"
db.execute(sql)
database.commit()

sql="UPDATE marks SET NAME='SUSHANT' WHERE NAME='JOHN'"
db.execute(sql)

In [21]:
sql="UPDATE marks SET NAME='SUSHANT' WHERE NAME='JOHN'"
db.execute(sql)
database.commit()

In [35]:

sql='''INSERT INTO marks (SN, NAME, PHYSICS, CHEMISTRY, BIOLOGY, MATHS, EXTRA_MATHS, ENGLISH, NEPALI, TOTAL) 
VALUES (13, 'SAKSHAM', 78, 89, 87, 71, 93, 78, 88, 600)'''

db.execute(sql)
database.commit()

In [ ]:
#class <class_name>:
 #   <methods>
 #   <attributes>
    
    
#obj=<class_name>()

In [24]:
class Hello:
    print("HI EVERYONE ")
obj= Hello()

HI EVERYONE

In [29]:
class Hello:
    def hello(self):
        print("HI EVERYONE ")
    
obj= Hello()
obj.hello()

HI EVERYONE

In [38]:
class Cal:
  
    def area(self):
        global l,b,h
        l=90
        b=8
        h=9
        area=l*b
        print(area)
        
    def volume(self):
        vo=l*b*h
        print(vo)
obj= Cal()
obj.area()
obj.volume()

720
6480

In [4]:
x=int(input("ENTER LENGTH= "))
y=int(input("ENTER BREADTH= "))
z=int(input("ENTER HEIGHT= "))
class Cal:
    
  

    def area(self,a,b):
        
        
        area=b*a
        print(area)
        return area
        
    def volume(self,a,b,c):
        vo=a*b*c
        print(vo)
        return vo


obj= Cal()

obj.area(x,y)
obj.volume(x,y,z)

ENTER LENGTH= 10
ENTER BREADTH= 10
ENTER HEIGHT= 10
100
1000

1000

In [17]:
class Cal:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
    def area(self):
        a= self.x*self.y
        print(a)
    def volume(self):
        v=self.x*self.y*self.z
        print(v)
obj = Cal(10,11,12)
obj.area()
obj.volume()

110
1320

In [18]:
class Area:
    def __init__(self,l,b):
        self.x=l
        self.y=b
    def area(self):
        area=self.x*self.y
        print(area)
class Volume:
    def __init__(self,l,b,h):
        self.x=l
        self.y=b
        self.z=h
    def vol(self):
        volm=self.x*self.y*self.z
        print(volm)
        
obj1= Area(10,7)
obj2= Volume(10,7,8)
obj1.area()
obj2.vol()

70
560

In [20]:
class Information:
    def __init__(self):
        self.n= input("ENTER THE NAME= ")
        self.age= int(input("ENTER THE AGE= "))
        self.a=input("ENTER THE ADDRESS= ")
    def info(self):
        return self.n
    def __str__(self):
        return self.n
obj= Information()
print(obj.info(),type(obj.info()))
print(obj,type(obj))

ENTER THE NAME= ERIC
ENTER THE AGE= 18
ENTER THE ADDRESS= SANTIGAR
ERIC <class 'str'>
ERIC <class '__main__.Information'>